-
  /**
   * Home Template
   *
   * A custom home page template.
   */

- get_header();
- do_atomic("before_content") // hatch_before_content


section#content
  - do_atomic("open_content"); // hatch_open_content
  .row.collapse.grid.posts-list
    -
      if (have_posts()) :
        while(have_posts()) :
          the_post();
          get_template_part("partials/post", "excerpt");
        endwhile;

      else : get_template_part("loop-error"); endif;

  -
    do_atomic("close_content");
    get_template_part("partials/loop", "nav");


- do_atomic("after_content");
- get_footer(); // Loads the footer.php template.